<p id="notice"><%= notice %></p>

<h1>Listing Mytestapps</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mytestapps.each do |mytestapp| %>
      <tr>
        <td><%= link_to 'Show', mytestapp %></td>
        <td><%= link_to 'Edit', edit_mytestapp_path(mytestapp) %></td>
        <td><%= link_to 'Destroy', mytestapp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mytestapp', new_mytestapp_path %>
